@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i,600,600i,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900');
 
$Raleway: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;
$fontNormal: 15px;
$h1: calc(#{$fontNormal} * 3.6);
$h2: calc(#{$fontNormal} * 3);
$h3: calc(#{$fontNormal} * 1.6);
$h4: calc(#{$fontNormal} * 1.3);
$h5: calc(#{$fontNormal} * 1.2);

$colorTop: #fff;
$titleColor: #061e37;
$textColor: #d1d9dd;

$maxW: 1440px;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    font-family: $Raleway;
}

p {
    font-size: $fontNormal;
    line-height: 24px;
}
%flex {
    display: flex;
    flex-wrap: wrap;
}

%ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
%a {
    text-decoration: none;
}
%wrapper {
    max-width: $maxW;
    width: 80%;
    position: relative;
    margin: 0 auto;
}
%button {
    height: 55px;
    width: 160px;
    font-family: $Roboto;
    font-size: $fontNormal;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 1rem #000;
}