
/*body.expanted {
    overflow: hidden;
}
.nav-menu {
    transition: right 0.6s;
    background: linear-gradient(45deg, rgb(218, 57, 233), rgb(199, 29, 57));
    color: white;
    cursor: pointer;
    font-size: 1rem;
    height: 100vh;
    padding: 3rem 2rem;
    right: -24rem;
    top: 0;
    width: 10rem;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    list-style: none;
    line-height: 1.4rem;
    a {
        text-decoration: none;
        color: rgba(248, 246, 246, 0.808);
        font-size: 1rem;
        line-height: 1.7rem;      
        font-weight: bold;
    }
    a:hover,
    a:active {
        color: rgb(255, 255, 255);
    }
    .active-nav-but a {
        color: #fff;
    }
    
    
    .main-button {
        background-color: transparent !important;
        margin-left: -1.3rem;
        a {
            font-weight: 500;
        }
    }

}
.nav-menu.expanted {
    right: 0;
    
}
.nav-toggle {
    cursor: pointer;
    height: 2rem;
    right: 2rem;
    position: absolute;
    top: 1rem;
    width: 2rem;
    z-index: 2;
    

} 
.nav-toggle:hover {
    opacity: 0.8;
    
}
.nav-toggle:hover .nav-toggle-bar::before {
    margin-top: -0.8rem;
}
.nav-toggle:hover .nav-toggle-bar::after {
    margin-top: 0.8rem;
}
.nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::before,
.nav-toggle .nav-toggle-bar::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    content: '';
    height: 0.15rem;
    width: 100%;
    transition: all 0.5s ease;
   
}
.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}
.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.6rem;
}
.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.6rem;
}
.nav-toggle.expanted .nav-toggle-bar {
    background: transparent;
}
.nav-toggle.expanted .nav-toggle-bar::before, 
.nav-toggle.expanted .nav-toggle-bar::after {
    background: white;
    margin-top: 0;
    
}
.nav-toggle.expanted .nav-toggle-bar::after {
    transform: rotate(45deg);  
}   
.nav-toggle.expanted .nav-toggle-bar::before {
    transform: rotate(-45deg);
}

.drop-menu {
    max-height: 0;
    overflow: hidden;
    position: relative;
    list-style: none; 
    margin: 0;
    transition: max-height 200ms ease-in;
}
.menu-array {
    font-size: 1.5rem;
    float: right;
    margin-right: 1rem;
    transition: all 200ms ease-in;
}
.menu-array.expanted {
    transform: rotate(-180deg);
}*/
