@import 'setting2';
 section.hero {
     background: url("../../Dart/img/header.png") center center no-repeat;
     background-size: cover;
     color: $colorTop;
     position: relative;
     border: 1px solid transparent;
     .wraper {
         @extend %wrapper;
         height: 80vh;
         overflow: hidden;
         header {
             @extend %flex;
             justify-content: space-between;
             align-items: center;
             margin: 50px auto;
             .logo{
                 @extend %flex;
                 max-height: 30px;
                 p{
                    display: inline-block;
                    margin: 0; 
                    margin-left: 10px;
                    text-transform: uppercase;
                     font-weight: 400;
                     span{
                         font-weight: 800;
                     }
                 }
             }
             & ul {
                 @extend %ul, %flex;
                 li {
                     margin-left: 50px;
                     a {
                        @extend %a;
                        color: $colorTop;
                     }
                 } 
             }
             .navBut {
                 @extend %a;
                 font-size: 12px;
                 border: 1px solid $colorTop;
                 color: $colorTop;
                 padding: 10px 20px;
                 border-radius: 5px;
             }
         }
         .elements {
             @extend %flex; 
             position: absolute;
             top: 50%;
             transform: translateY(-50%);
             flex-wrap: nowrap;
             justify-content: space-between;
             .text{
                 padding: 0;
                 margin: 0;
                 max-width: 45%;
                h1{
                    font-size: $h1;
                    text-transform: uppercase;
                }
                h5{
                    font-size: $h5;
                    font-weight: 400;
                    line-height: 24px;
                }
                button {
                    @extend %button;
                }
                button:first-of-type{
                    background: #061e37;
                    color: #fff;
                    margin-right: 30px;
                }
                button:last-of-type{
                    background: #fff;
                    color:  #061e37;
                }
             }
             .video {
                 align-self: center;
                max-height: 320px;
                max-width: 45%;
             }
         }
     }
 }
 section.easy {
     position: relative;
     .wraper{
        @extend %wrapper;
        margin-bottom: 100px;
        color: $textColor;
        height: 100vh;
        max-height: 800px;
        .title {
            max-width: 580px;
            margin: 100px auto;
            text-align: center;
            h2 {
                font-size: $h2;
                color: $titleColor;
            }
            h3 {
                font-size: $h3;
                color: $textColor;
            }
        }
        .tool{
            @extend %flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 80px auto;
            .toolItem {
                @extend %flex;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: (100% / 4);
                h4 {
                    font-size: $h4;
                    color: $titleColor;
                }
            }
        }
        button {
            @extend %button;
            background-color: #1de9b6;
            color: #fff;
            display: block;
            margin: 0 auto;
        }
     }
 }
 section.count {
     @extend %flex;
     position: relative;
     color: $colorTop;
     font-weight: bold;
     .countBlock{
         flex: 1;
         @extend %flex;
         align-items: center;
         justify-content: center;
         height: 150px;
         .svgIcon   {
            margin-right: 25px;
         }
     }
     .block1 {
         background-color: #80d8ff;
     }
     .block2 {
         background-color: #82b1ff;
     }
     .block3 {
         background-color: #b388ff;
     }
     .block4 {
         background-color: #ea80fc;
     }
 }
 section.service {
     position: relative;
     .wraper{
         @extend %wrapper;
         @extend %flex;
         flex-direction: column;
         .textService {
             text-align: center;
             max-width: 580px;
             margin: 100px auto;
             margin-bottom: 50px;
             h2{
                 font-size: $h2;
             }
             p {
                 color: $textColor;
             }
         }
         .dropMenu{
             width: calc(100% - 36%);
             max-width: 800px;
             margin: 0 auto;
         }
         .dropMenuBlock {
             margin-bottom: 20px;
             padding: 20px 25px;
             box-shadow: 1px 7px 10px  rgba(0,0, 0, 0.3);
             border-radius: 5px;
             .groupUp {
                @extend %flex;
                align-items: center;
                p {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .icon {
                    margin-right: 25px;
                }
                .arrow {
                    margin-left: auto;
                }
             }
             .groupDown {
                 @extend %flex;
                 flex-wrap: nowrap;
                 img {
                     width: 33%;
                     max-height: 155px;
                     margin-right: 30px;
                 }
             }

         }
        }
 }
 section.testimonails {
     position: relative;
     background: url('../../Dart/img/testimonailsBG.png') center center no-repeat;
     background-size: cover;
     max-height: 565px;
     margin: 100px auto;
     .wrapper{
         @extend %wrapper;
         @extend %flex;
         flex-wrap: nowrap;
         align-items: center;
        padding: 30px 0;
        .textTitile {
            color: $colorTop;
            h2 {
                font-size: $h2;
            }
            button {
                @extend %button;
                color: $colorTop;
                background-color: $titleColor;
                margin-top: 80px;
            }
        }
        .feedBack {
            @extend %flex;
            justify-content: flex-end;
            margin: 95px auto;
            .arrow {
                color: $colorTop;
                font-size: 30px;
                cursor: pointer;
            }
            .arrow.arrowUp {
                position: absolute;
                top: 30px;
                left: 75%;
            }
            .arrow.arrowDown {
                position: absolute;
                bottom: 70px;
                left: 75%;
                transform: rotate(180deg);
            }
            .comment {
                @extend %flex;
                flex-wrap: nowrap;
                justify-content: flex-end;
                margin-bottom: 50px;
                .customAvatar {
                    height: 60px;
                    margin-right: 50px;
                    align-self: center;
                }
                .commentText {
                    border: 1px solid green;
                    width: 70%;
                    max-width: 650px;
                    background-color: #fff;
                    border-radius: 5px;
                    padding: 20px;
                    h5 {
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        color: $textColor;
                        font-style: italic;
                    }
                }
            }
        }
     }
 }
 section.team {
     .wrapper {
         @extend %wrapper;
         text-align: center;
         * {
             margin: 0;
         }
         h2 {
             font-size: $h2;
             margin-bottom: 20px;
         }
         h5 {
             font-size: $h5;
             margin-bottom: 20px;
         }
         p {
             display: inline-block;
             color: $textColor;
         }
         p:first-of-type {
             width: 560px;
         }
         p:last-of-type {
             width: 650px;
         }
         .teamPeople {
             @extend %flex;
             justify-content: center;
             align-items: center;
             margin: 80px 0 30px 0;
             .teamAvatar {
                 margin-left: 25px;
                 height: 100px;
                 filter: blur(2px) grayscale(50%);
             }
             .teamAvatar.active {
                 height: 160px;
                 border: 25px solid #fff;
                 border-radius: 50%;
                 box-shadow: 0 0 5px 1px $textColor;
                 filter: blur(0) grayscale(0);
             }
         }
         .social {
             margin: 0 auto;
             padding: 0;
             height: 20px;
             width: 260px;
             background-image: url('../../Dart/img/socialicon.png');
             background-repeat: no-repeat;
             background-position: center center;
         }
     }
 }
 