@import 'setting2';
html {
    font-size: 10px;
}
 section.hero {
    background: url("../../Dart/img/header.png") center center no-repeat;
     background-size: cover;
     color: $colorTop;
     position: relative;
     border: 1px solid #17e0c2;
     .wrapper {
         @extend %wrapper;
         position: relative;
         overflow: hidden;
         min-height: 80vh;
         .header {
             @extend %flex;
             justify-content: space-between;
             align-items: center;
             margin: 25px auto;
             position: relative;
             .logo{
                 @extend %flex;
                 align-items: center;
                 max-height: 30px;
                 p{
                    display: inline-block;
                    margin: 0; 
                    margin-left: 10px;
                    text-transform: uppercase;
                     font-weight: 400;
                     line-height: 1rem;
                     span{
                         font-weight: 800;
                     }
                 }
             }
             /*BURGER*/
             .nav-toggle {
                margin-left: auto;
                padding: 2px;
                cursor: pointer;
                height: 3rem;
                width: 4rem;
                z-index: 2;
            } 
            .nav-toggle:hover {
                opacity: 0.8;
                
            }
            .nav-toggle:hover .nav-toggle-bar::before {
                margin-top: -1.2rem;
            }
            .nav-toggle:hover .nav-toggle-bar::after {
                margin-top: 1.2rem;
            }
            .nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::before,
            .nav-toggle .nav-toggle-bar::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #fff;
                content: '';
                height: 0.2rem;
                width: 40px;
                transition: all 0.5s ease;
            }
            .nav-toggle .nav-toggle-bar {
                margin-top: 0;
            }
            .nav-toggle .nav-toggle-bar::before {
                margin-top: -1rem;
            }
            .nav-toggle .nav-toggle-bar::after {
                margin-top: 1rem;
            }
            /*END BURGER*/
            .main-menu, .nav-button {
                display: none;
            }
            .nav-button {
                text-decoration: none;
                color: $colorTop;
                border: 1px solid $colorTop;
                border-radius: 5px;
                padding: 7px 20px;
            }
            .main-menu {
                 @extend %ul, %flex;
                 li {
                     margin-left: 50px;
                     a {
                        @extend %a;
                        color: $colorTop;
                     }
                 } 
             }
         }
         .elements {
             @extend %flex;
             flex-wrap: nowrap;
             margin: 1.8rem auto;
             align-items: center;
             .text{
                 width: 100%;
                h1{
                    font-size: $h1;
                    text-transform: uppercase;
                }
                h5{
                    font-size: $h5;
                    font-weight: 400;
                    line-height: 24px;
                }
                .elements-button {
                    @extend %button;
                    width: 55%;  
                    margin: 30px auto;
                    display: block; 
                }
                .elements-button:first-of-type{
                    background: #061e37;
                    color: #fff;
                }
                .elements-button:last-of-type{
                    background: #fff;
                    color:  #061e37;
                }
             }
             .video {
                 width: 48.5%;
                 height: 100%;
                 display: none;
             }
         }
     }
 }
 section.easy {
     position: relative;
     .wrapper{
        @extend %wrapper;
        margin-bottom: 50px;
        color: $textColor;
        .title {
            max-width: 580px;
            margin: 100px auto;
            text-align: center;
            h2 {
                font-size: $h2;
                color: $titleColor;
            }
            h3 {
                font-size: $h3;
                color: $textColor;
            }
        }
        .tool{
            @extend %flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            margin: 80px auto 0;
            .toolItem {
                @extend %flex;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 50px;
                h4 {
                    font-size: $h4;
                    color: $titleColor;
                }
            }
        }
        .tool-button {
            @extend %button;
            background-color: #1de9b6;
            color: #fff;
            display: block;
            margin: 0 auto;
        }
     }
 }
 section.count {
     @extend %flex;
     position: relative;
     color: $colorTop;
     font-weight: bold;
     .countBlock{
         flex: 1;
         @extend %flex;
         align-items: center;
         justify-content: center;
         height: 150px;
         .svgIcon   {
            margin-right: 25px;
         }
     }
     .block1 {
         background-color: #80d8ff;
     }
     .block2 {
         background-color: #82b1ff;
     }
     .block3 {
         background-color: #b388ff;
     }
     .block4 {
         background-color: #ea80fc;
     }
 }
 section.service {
     position: relative;
     .wrapper{
         @extend %wrapper;
         @extend %flex;
         flex-direction: column;
         .textService {
             text-align: center;
             max-width: 580px;
             margin: 100px auto;
             margin-bottom: 50px;
             h2{
                 font-size: $h2;
             }
             p {
                 color: $textColor;
             }
         }
         .dropMenu{
             max-width: 800px;
             margin: 0 auto;
         }
         .dropMenuBlock {
             margin-bottom: 20px;
             padding: 20px 25px;
             box-shadow: 1px 7px 10px  rgba(0,0, 0, 0.3);
             border-radius: 5px;
             .groupUp {
                @extend %flex;
                align-items: center;
                p {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .icon {
                    margin-right: 25px;
                }
                .arrow {
                    margin-left: auto;
                }
             }
             .groupDown {
                 @extend %flex;
                 .service-img {
                     margin: 0 auto;
                     width: 100%;
                     max-height: 155px;
                 }
             }

         }
        }
 }
 section.testimonails {
     position: relative;
     background: url('../../Dart/img/testimonailsBG.png') center center no-repeat;
     background-size: cover;
     margin: 100px auto;
     .wrapper{
         @extend %wrapper;
         @extend %flex;
         flex-wrap: wrap;
         padding: 30px 0;
       .textTitile {
            position: relative;
            color: $colorTop;
            h2 {
                font-size: $h2;
            }
            .testimonails-button {
                @extend %button;
                color: $colorTop;
                width: 160px;
                background-color: $titleColor;
                margin: 10px auto;  
                display: block;
                align-self: center; 
            }
        }
        .feedBack {
            @extend %flex;
            justify-content: flex-end;
            position: relative;
            margin: 60px auto;
            .arrow {
                color: $colorTop;
                font-size: 30px;
                cursor: pointer;
                position: absolute;
                right: 48%;
                transform: translateY(-50%);
            }
            .arrow.arrowUp {
                top: -30px;
            }
            .arrow.arrowDown {
                bottom: -30px;
                transform: rotate(180deg);
            }
            .comment {
                @extend %flex;
                flex-wrap: nowrap;
                justify-content: flex-end;
                margin-bottom: 50px;
                .customAvatar {
                    display: none;
                }
                .commentText {
                    border: 1px solid green;
                    width: 100%;
                    max-width: 650px;
                    background-color: #fff;
                    border-radius: 5px;
                    padding: 20px;
                    h5 {
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        color: $textColor;
                        font-style: italic;
                    }
                }
            }
        }
     }
 }
 section.team {
     .wrapper {
         @extend %wrapper;
         text-align: center;
         * {
             margin: 0;
         }
         h2 {
             font-size: $h2;
             margin-bottom: 20px;
             color: $titleColor;
         }
         h5 {
             font-size: $h5;
             margin-bottom: 20px;
         }
         p {
             display: inline-block;
             color: $textColor;
         }
         p:first-of-type {
             width: 560px;
         }
         p:last-of-type {
             width: 650px;
         }
         .teamPeople {
             @extend %flex;
             justify-content: center;
             align-items: center;
             margin: 80px 0 30px 0;
             .teamAvatar {
                 margin-left: 25px;
                 height: 100px;
                 filter: blur(2px) grayscale(50%);
             }
             .teamAvatar.active {
                 height: 160px;
                 border: 25px solid #fff;
                 border-radius: 50%;
                 box-shadow: 0 0 5px 1px $textColor;
                 filter: blur(0) grayscale(0);
             }
         }
         @for $i from 0 to 5 {
             .socialNail#{$i}{
                @extend %social;
                 $length: -44px*$i;
                 background-position: $length 0;
             }
         }
     }
 }
 section.contact {
     background: #fafafa;
     .wrapper {
         @extend %wrapper;
         width: 50%;
         text-align: center;
         padding: 45px 0 90px 0;
         color: $titleColor;
         h2{
             font-size: $h2;
         }
         .sub-form {
             @extend %flex;
             justify-content: space-between;
             margin: 50px;
             .field-wrap {
                 width: 45%;
                 label {
                     position: absolute;
                     padding: 20px;
                     font-size: 14px;
                 }
                 input, textarea{
                     width: 100%;
                     height: 50px;
                     margin-bottom: 20px;
                     border: 1px solid #000;
                     border-radius: 5px;
                     background-color: transparent;
                 }
             }
             .field-wrap.area {
                 width: 100%;
             }
             .field-radio {
                 @extend %flex;
                 position: relative;
                 align-items: center;
                 input[type=checkbox]{
                    opacity: 0;
                    width: 10px;
                    height: 10px;
                    margin-right: 15px;
                    z-index: 10;
                }
                .check {
                    display: inline-block;
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top:50%;
                    transform: translateY(-50%);
                    left: 0;
                    background: url('../../Dart/img/unchecked.png') center center;
                    background-size: cover;
                }
             }
             .field-radio input:checked ~ .check {
                background: url('../../Dart/img/checked.png') center center no-repeat;
                background-size: 25px;
             }
            button {
                @extend %button;
                width: 130px;
                background-color: #1de9b6;
                color: #fff;
            }
         }
     }
 }
 footer.footer {
     background-color: $titleColor;
     color: $colorTop;
     .wrapper {
         @extend %wrapper;
         @extend %flex;
         padding: 100px 0;
         .logo-menu {
             @extend %flex;
             width: 100%;
             justify-content: space-between;
             margin-bottom: 50px;
            .logo{
                @extend %flex;
                align-items: center;
                max-height: 30px;
                p{
                   display: inline-block;
                   margin: 0; 
                   margin-left: 10px;
                   text-transform: uppercase;
                   font-weight: 400;
                   line-height: 1rem;
                    span{
                        font-weight: 800;
                    }
                 }   
            }
            ul {
                @extend %ul, %flex;
                li {
                    margin-left: 50px;
                    a {
                       @extend %a;
                       color: $colorTop;
                    }
                } 
            } 
         }
        .link-social {
            @extend %flex;
            width: 100%;
            justify-content: space-between;
            ul {
                @extend %ul, %flex;
                li {
                    margin-left: 10px;
                    color: #858a92;
                }
            }
            @for $i from 0 to 5 {
                .socialNail#{$i}{
                   @extend %social;
                    $length: -44px*$i;
                    background-position: $length 0;
                    margin: 0;
                }
            }
        } 
     }
 }


 @media screen and (min-width: 481px) and (max-width: 766px){
    body {
        background: violet;
    }
}
@media screen and (min-width: 767px){
     body {
         background-color: black;
     }
     section.hero {
         .wrapper {
             width: 66%;
             .elements {
                 margin: 2.5rem auto;
                 .text {
                    .buttonGroup {
                        display: flex;
                        padding: 0;
                        justify-content: space-between;
                        .elements-button {
                            width: 35%;
                            margin: 0;
                        }
                    }
                   
                 }
             }
         }
     }
 }
 @media screen and (min-width: 992px){
    body {
        background: green;
    }
     html {
         font-size: 15px;
     }
     section.hero {
         .wrapper {
             width: 80%;
            .elements {
                margin: 6rem auto;
                align-items: center;
                .text {
                    width: 48.5%;
                    margin-right: 15%;
                }
                .video {
                    display: block;
                }
            }
         }
         
     }
 }
 @media screen and (min-width: 1025px){
    body {
        background: yellow;
    }
    section.hero {
        .wrapper {
            margin: 50px auto;
            .header {
                .nav-toggle {
                    display: none;
                }
                .main-menu, .nav-button {
                    display: flex;
                }
            }
        }
    }
 }
 @media screen and (min-width: 1919px){
     html {
         font-size: 18px;
     }
     section.hero {
        .wrapper {
            width: 60%;
        }
     }
 }