html,
body {
    height: 100%;
}
a {
    text-decoration: none !important;
}
#cover {
    background: #222 url('img/stars.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
}
.cover-caption {
    width: 100%;
}
.sign-form * {
    padding: 0.2rem;
}
.start-but {
    padding-left: 1rem;
    padding-right: 1rem;
}
.card-body {
    flex: 0 !important;
}
.section-content {
    padding: 2rem 0;
}
#about {
    background: url('img/girlincar.jpg') center center no-repeat;
    background-size: cover;
}
.about-text {
    background: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.8);
    padding: 1rem;

}
.footer-main {
    color: #fff;
    font-weight: 100 !important;
    padding: 1rem;
}
