@import url("https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i,600,600i,700,800");
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  font-family: "Raleway", sans-serif; }

p {
  font-size: 15px; }

section.hero .wraper header, section.hero .wraper header .logo, section.hero .wraper header ul, section.hero .wraper .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

section.hero .wraper header ul {
  list-style: none;
  margin: 0;
  padding: 0; }

section.hero .wraper header ul li a, section.hero .wraper header .navBut {
  text-decoration: none; }

section.hero .wraper {
  max-width: 1440px;
  width: 80%;
  position: relative;
  margin: 0 auto; }

section.hero {
  background: url("../../Dart/img/header.png") center center no-repeat;
  background-size: cover;
  color: #fff; }
  section.hero .wraper {
    border: 1px solid red; }
    section.hero .wraper header {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 50px auto; }
      section.hero .wraper header .logo {
        max-height: 30px; }
        section.hero .wraper header .logo p {
          display: inline-block;
          margin: 0;
          margin-left: 10px;
          text-transform: uppercase;
          font-weight: 400; }
          section.hero .wraper header .logo p span {
            font-weight: 800; }
      section.hero .wraper header ul li {
        margin-left: 50px; }
        section.hero .wraper header ul li a {
          color: #fff; }
      section.hero .wraper header .navBut {
        font-size: 12px;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px; }
    section.hero .wraper .elements {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
