<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/css/sass/form.css">
    <title>Form</title>
</head>
<body>
    
    <main class="name">
        <form class="form">
            <input type="text" placeholder="some placeholder">
            <div>
                <label for="radio">some label</label>
                <input id="radio" type="radio">
            </div>
            <button type="button">Submit Form</button>
        </form>
    </main>


</body>
</html>